/* general */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #000000;
    margin: 0;
    padding: 0 0 50px 0;
    position: relative;
    min-height: 100vh;
}

.container-fluid {
    padding: 0;
}

.second-color {
    color: #25414b;
}

.third-color {
    color: #fcf854;
}

.highlighted {
    font-size: 24px;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5aa3bb;
    color: #ffffff;
    padding: 15px;
}

header #header_title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

header #header_title img {
    height: 50px;
}

header #header_buttons img {
    height: 40px;
    margin-left: 20px;
    padding: 1px;
    border-radius: 50px;
}

header #header_buttons img:hover {
    background-color: #fcf854;
    cursor: pointer;
}

header #header_buttons img:active {
    background-color: #498497;
}

header a:hover,
header a:focus {
    text-decoration: none;
}

/* contact form */

#my_email {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #498497;
    margin-bottom: 15px;
}

#my_email img {
    height: 30px;
    margin-right: 5px;
}

#my_email a,
#my_email a:hover,
#my_email a:focus {
    color: #498497;
    text-decoration: none;
}

/* wrapper */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
}

.wrapper .content-title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* inputs */

.form-control {
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 15px;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
}

.form-control:focus {
    outline: 1px auto #25414b;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn,
.btn:focus {
    padding: 10px 15px;
    background-color: #5aa3bb;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.5px;
    border-radius: 0;
    margin-top: 15px;
    outline: none;
}

.btn:hover {
    background-color: #498497;
    color: #fcf854;
}

.btn:active,
.btn:active:focus {
    background-color: #25414b;
    color: #fcf854;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* modals */

#shiny_modal {
    padding: 0;
}

.modal-dialog {
    width: fit-content;
}

.modal-header {
    border-bottom: 1px solid #25414b;
}

.modal-title {
    font-size: 19px;
    font-weight: 700;    
}

.modal-title > span {
    display: flex;
    align-items: center;
}

.modal-title img {
    height: 30px;
    margin-right: 5px;
}

.modal-content {
    padding: 20px;
}

.modal-footer {
    border: 0;
}

/* progress bar */

#shiny-notification-panel {
    width: fit-content;
    margin: 15px;
}

.shiny-notification {
    border-radius: 0;
    color: #000000;
    padding: 8px 16px;
}

.progress-bar {
    background-color: #5aa3bb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.shiny-notification-close {
    display: none;
}

/* vr separator */

.vr-separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.vr-separator .vr-line {
    flex-basis: 100%;
    background-color: #25414b;
    width: 2px;
}

.vr-separator img {
    height: 50px;
    padding: 10px 0;
}

/* inline parent */

.inline-parent > div {
    display: inline-block;
}

.inline-parent .btn {
    margin: 0 0 0 10px;
    padding: 6px 12px;
}

/* about */

#about {
    line-height: 30px;
    text-align: center;
}

/* dynamic ui */

#dynamic_ui {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* signed in buttons */

#signed_in_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign_out_button,
#remove_account_button {
    width: 150px;
}

.caution-button,
.caution-button:focus {
    background-color: #e3362d;
}

.caution-button:hover {
    background-color: #c13028;
}

.caution-button:active,
.caution-button:active:focus {
    background-color: #25414b;
    color: #fcf854;
    border-radius: 0;
    outline: none;
}

/* footer */
footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #5aa3bb;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .third-color {
    font-weight: 600;
}

footer #licenses {
    font-size: calc(100% - 1px);
    position: relative;
}

footer #licenses > span {
    font-weight: 500;
}

footer #licenses > div {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: max-content;
    padding: 8px;
    color: #000000;
    background-color: rgba(224, 222, 222, 0.75);
    font-size: calc(100% - 1px);
}
